# GitHub App
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GITHUB_WEBHOOK_SECRET=

# Gemini
GEMINI_API_KEY=

# Server (optional, default: 8080)
PORT=8080
